#about {
    margin-top: 80px;
}

section.hero{
    padding-top: 6rem;
    padding-bottom: 18rem;
}

.hero {
    background-image: url(../../assets/img/background.png);
    background-size: cover;
}

nav.navbar {
    top: -70px !important;
    background-color: rgba(255, 255, 255, 0);
}


section .nav-link:not(.active):not(.disabled):not(:hover), footer .nav-link:not(.active):not(.disabled):not(:hover) {
    opacity: 1;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}

.bio {
    float: right;
    padding-left: 80px;
}