#about {
    margin-top: 80px;
}

section.hero{
    padding-top: 6rem;
    padding-bottom: 18rem;
}

.hero {
    /* background-image: url(../../assets/img/background.png); */
    background-color: #e2e2e2;
    background-size: cover;
}

nav.navbar {
    top: -70px !important;
    background-color: rgba(255, 255, 255, 0);
}


section .nav-link:not(.active):not(.disabled):not(:hover), footer .nav-link:not(.active):not(.disabled):not(:hover) {
    opacity: 1;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255);
    font-size: 1.2rem;
    text-shadow: rgba(255, 255, 255, 0.454);
    
}

.navbar-dark .navbar-nav .nav-link:hover {
    color:#cf741d;
    
}


.btn-primary {
    background-color: #cf741d;
    border-color: #d16f11;
}

.bio {
    float: right;
    padding-left: 80px;
}